body {
    font-family: Tahoma, sans-serif;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */
header, section, footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
   }
/* ^^^^^^^^^^^^^^^^^^^^^^ */   
/* ^^^^^^^^^^^^^^^^^^^^^^ */   
/* ^^^^^^^^^^^^^^^^^^^^^^ */   

header{
    height: 100px;
    background-color:#000000;
    margin-bottom: 5px;
    border-radius: 5px;
   
}

#marca { 
    width: 240px;
    height: 100px;
    background-color:#000000 ;
    float: left; 
    padding: 5px;  
    box-sizing: border-box;   
    border-radius: 5px;
}
#logo{
    width:240px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 34px;
    color:white;
 }

h2{
    font-size: 20px;
}
h2:hover {
    transition: transform .2s;
    transform: scale(1.1);
    }
   

#botonera{
    width: 720px;
    height: 100px;
    background-color:#000000 ;
    float: right;
    border-radius: 5px;
}
#botonera ul{
    list-style-type: none;
    margin: 0;
}
#botonera ul li{
    display: inline;
} 
#botonera ul li a{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding:40px 17px;
    transition: transform .2s;
}
#botonera ul li a:hover{
    background-color: rgb(235, 8, 8);
    color: rgb(0, 0, 0);
    transform: scale(1.5);
    border-radius: 15px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */   
/* ^^^^^^^^^^^^^^^^^^^^^^ */   
/* ^^^^^^^^^^^^^^^^^^^^^^ */   

#inicio{
    height: 780px;
    background-color: #3f3e3e;
    border-radius: 15px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 5px;
}   
#extremo{
    height: 760px;
    width: 490px;
    border-radius: 15px;
    box-shadow: 0 1px 3px 0 #000;
    float: left;
}

#anuncio{
    width: 400px;
    height: 580px;
    float: right;
    color: #ffffff;
    font-size: 14px;
    box-shadow: 0 1px 3px 0 #000;
    padding: 15px;
    border-radius: 15px;
    background-color: #000;
    margin-right: 15px;
}

#suscribirse{
    width: 430px;
    height: 143px;
    float: left;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 1px 3px 0 #000;
    padding-top: 3px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-top: 4px;
    text-align: center;
    
}
#nombre_suscribirse,#email_suscribirse{
    width: 120px;
    float: left;
    margin-left: 15px;
    text-align: left;
    margin-top: 0;
    padding-top: 0;
  
}
#submit_suscribirse{
    width: 80px;
    margin-top: 0;
    padding-top: 0;
}


/* ^^^^^^^^^^^^^^^^^^^^^^ */   
/* ^^^^^^^^^^^^^^^^^^^^^^ */   
/* ^^^^^^^^^^^^^^^^^^^^^^ */  

#Merchandising {
    height: 640px;
    background-color:#3f3e3e;
    border-bottom-left-radius:25px;
    border-top-right-radius:25px;
    padding-top: 4px;
    box-sizing: border-box;
}
#Merchandising a
{   display: block;
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
    line-height: 30px;
}

#fila1_izq, #fila1_cen_izq,#fila2_izq, #fila2_cen_izq,#fila1_cen_der, #fila1_der,#fila2_cen_der, #fila2_der
{
    margin: 1px; 
    width: 233px;
    height: 250px; 
    float: left; 
    border-bottom-left-radius:25px;
    border-top-right-radius:25px;
    background-color: rgb(255, 255, 255); 
    position: relative;
	background-repeat: no-repeat;
    background-position: center;  
    padding-left:3px;
    border: inset 1px #000000;
}  


#txt_fila1_izq, #txt_fila1_cen_izq, #txt_fila1_cen_der, #txt_fila1_der, #txt_fila2_izq, #txt_fila2_cen_izq, #txt_fila2_cen_der,#txt_fila2_der
{   width: 170px;
    height: 30px;
    margin-left:35px;
    margin-top: 200px;
    border-radius: 5px;
    background-color:  rgb(170, 31, 6);
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);  
}
#fila3_izq, #fila3_cen, #fila3_der{
    width: 310px;
    height: 115px; 
    float: left;
    background-color: #8a0a0a;       
    color: white;
    text-align: center;
    border-bottom-left-radius:25px;
    border-top-right-radius:25px;
    border: inset 1px #000000;
    margin-top:2px;
    margin-left:3px; 
    padding-top: 1px;
    padding-left:4px;
}

/* ^^^^^^^^^^^^^^^^^^^^^^ *//* ^^^^^^^^^^^^^^^^^^^^^^ *//* ^^^^^^^^^^^^^^^^^^^^^^ */

#gira {
    height: 600px;
    margin-top: 5px;
    background-color: rgb(70, 70, 70);
    margin-bottom: 5px;
    padding-bottom: 75px;
}

#cont_gira{
    padding-top: 10px;
    background-color: rgb(255, 0, 0);
    height: 510px;
    
}

#img_gira{
    width: 960px;
    height: 200px;
    float:left;
    background-color: rgb(36, 204, 58);
    padding-left: 3px;
}
#img_gira img{
    width: 99%;
    padding-top: 3px;
}
#info_gira{
    width: 650px;
    height: 200px;
    float:right;
    background-color: #333333;
    background: linear-gradient(to right, #333333, #707070);

}
#btn_gira ul li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding:40px 17px;
    transition: transform .2s;
}
#btn_gira ul li{
    display: inline;
} 
#btn_gira ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#titulo_lugar{
    transition: none;
    font-size: 30px;
    font-weight: bold;
    padding-left: 60px;
    color: #ffffff;
}
#titulo_fecha{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 70px;
}
#titulo_estadio{
    font-size: 18px;
    
    color: #ffffff;
    padding-left: 70px;

}


/* ^^^^^^^^^^^^^^^^^^^^^^ */ /* ^^^^^^^^^^^^^^^^^^^^^^ *//* ^^^^^^^^^^^^^^^^^^^^^^ */

/* ^^^^^^^^^^^^^^^^^^^^^^ */ /* ^^^^^^^^^^^^^^^^^^^^^^ *//* ^^^^^^^^^^^^^^^^^^^^^^ */

#contacto{
    height: 700px;
    margin-top: 5px;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
}

#form_contacto {
    height: 500px;
    width: 550px;
    background-color: #413f3f;
    margin-top: 110px;
    margin-left: 30px;
    float: left;
    border: inset 1px #000000;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    
}

#caja_contacto{
    padding-left: 12px;
    opacity: 0.9;   
    
}

 textarea {
    margin: 15px;
    padding: 8px;
    width: 350px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    opacity: 0.6; 
    border-radius: 5px;
}
#nombre, #email, #submit_contacto{
    margin: 15px;
    padding: 8px;
    width: 350px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    opacity: 0.6; 
    border-radius: 5px;

}

textarea{
    background-color: rgb(255, 255, 255);
    min-height: 180px;
    max-height: 180px;
    min-width:350px;
    max-width:350px;
  
}

#aviso_contacto{
    width: 300px;
    float: right;
    margin-top: 150px;
    margin-right: 20px;
    color: #020202;
    padding-right: 10px;
    text-align: right;   
    opacity: 0.8; 
    background-color: white;
    border: inset 1px #000000;
    border-radius: 5px;

}
#aviso_contacto a{
    text-decoration: none;
    color: orangered;
   
}

#img_contacto{
       
        background-image: url(imagenes/contacto.jpg);
        width: 960px;
        height: 700px;
        text-align: center;
        background-position:center;
        background-size:cover;
        background-repeat: no-repeat;
        position: absolute;
        background-color: transparent;
        opacity: 0.5;       
}  


 


/* ^^^^^^^^^^^^^^^^^^^^^^ */ /* ^^^^^^^^^^^^^^^^^^^^^^ *//* ^^^^^^^^^^^^^^^^^^^^^^ */
 #otra_info, #el_drome{
    width: 480px;
    height: 200px; 
    background-color: #161616;
    float: left;
    color: white;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}
#otra_info ul {
    list-style-type: none;
    padding-top: 10px;
    
}

#otra_info ul a {
    text-decoration: none;
    color: #ffffff;
    margin-top: 10px;
}

footer{
    height:700px;
    background-color:#161616;
    margin-top: 5px;
    padding-top: 20px;
}
#datos{
    margin-top: 5px;
    width: 250px;
    height: 50px;
    background-color: #000000;
    float: left;
    color: rgb(228, 23, 23);
    text-align: center;
    font-size: 30px;
} 


#redes {
    width: 250px;
    height: 60px;
    background-color: #414040;
    margin-left: 1px;
    margin-top: 20px;
    text-align: center;
    float: left;
    border: 1px solid #00000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#redes ul {
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#redes ul li {
display:inline;	
}

#redes ul li a {
display: inline-block;
text-decoration: none;
color: none;
padding: 5px 5px;
font-size: 30px;
}

#redes ul li a:hover{
 
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: scale(1.5);

}
#facebook, #instagram, #twitter, #youtube {
	height: 30px ;
	width: 30px ;
    margin-top: 10px ;
    font-size: 10px;
}

#medios_de_pago {
    width: 250px;
    height: 50px;
    background-color: #000000;
    float: left;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 5px;
}
#medios_de_pago ul {
    margin top: 10px;
    padding: 10;
    list-style-type: none;
    text-align: center;
    }
    
    #medios_de_pago ul li {
    display:inline;	
    }
    
    #medios_de_pago ul li a {
    display: inline-block;
    text-decoration: none;
    color: none;
    padding: 5px 5px;
    font-size: 30px;
    }
    
    #medios_de_pago ul li a:hover {
        color: white;
    }
    #visa, #american, #mastercard, #paypal {
        height: 30px;
        width: 30px;
        margin-top: 10px;
    }
    
#Copyright{
    margin-top: 5px;
    width: 350px;
    height: 50px;
    background-color: #000000;
    float: right;
    color: white;
    text-align: center;
}

#fila1_izq{
    background-image: url(imagenes/libro.png);
}
#fila1_cen_izq{
    background-image: url(imagenes/discografia.jpg);
}

#fila1_cen_der{
    background-image: url(imagenes/hombre.jpg) ;  
}
#fila1_der{
    background-image: url(imagenes/sudadera.jpg);
}
#fila2_izq{
    background-image: url(imagenes/remera.jpg);
}
#fila2_cen_izq{
    background-image: url(imagenes/mujer.jpg);
}
#fila2_cen_der{
    background-image: url(imagenes/complementos.jpg);
}
#fila2_der{
    background-image: url(imagenes/vinilos.jpg);
}
@media all and (min-width: 600px) and (max-width: 1023px) {

    header, section, footer {
        width: 580px;
        height: 50px;
       }
    
       #marca { 
        width: 140px;
        height: 50px;
        padding: 0px 5px;  
    }
    h1 {
        font-size: 20px;
     }
    #botonera{
        width: 350px;
        height: 20px;
        font-size: 12px;   
}
    #botonera ul li a {
       padding:18px 1px;   
} 
    #Merchandising {
        height: 450px;
        margin-top: 1735px;
    }
    #historia{
        height: 1450px;
    }
    #extremo{
        width: 580px;
    } 
    #fila1_izq, #fila1_cen_izq,#fila1_cen_der, #fila1_der{
        width: 143px;
        height: 220px;
        margin-top: 5px;
   
    } 
    #fila2_izq, #fila2_cen_izq,#fila2_cen_der, #fila2_der{
        width: 143px;
        height: 220px;
        
    }
  
    #txt_fila1_izq, #txt_fila1_cen_izq, #txt_fila1_cen_der, #txt_fila1_der, #txt_fila2_izq, #txt_fila2_cen_izq, #txt_fila2_cen_der,#txt_fila2_der{  
        width: 125px;
        margin-left:10px;
       margin-top: 180px;
    }
        
    #fila3_izq, #fila3_cen, #fila3_der{
        width: 193px;
        height: 150px;
        padding-bottom: 20px;
        padding-top: 5px;
        
    }
    #fila4_izq,#fila4_cen,#fila4_der {
        width: 193px;
        height: 180px;
    }
    #fila4_izq{
        margin: auto;   
    }
    
    #fila4_cen ul a {
        margin-top: 3px;
    }
    
    footer{
        height:160px;
        background-color: #ce2424;
        margin-top: 368px;
        padding-top: 20px;
    }
    #datos{
        width: 190px;
        height: 80px;
        background-color: #000000;
        float: left;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 30px;
        margin-left: 15px;
    } 
    
    #redes {
        width: 190px;
    }
 
    
    #redes ul {
     text-align: left;
    }
    
    /**/
    #medios_de_pago {
        width: 190px;
        height: 80px;
        margin-left: 20px;
    }
    
    #medios_de_pago ul {
        
    margin: 0;
    padding: 10;
    list-style-type: none;
    text-align: center;
    }
    #medios_de_pago ul li {
        display:inline;	
        }
        
        #medios_de_pago ul li a {
        display: inline-block;
        text-decoration: none;
        color: none;
        padding: 2px 3px;
        font-size: 30px;
        }
        
        #medios_de_pago ul li a:hover {
            color: white;
        }
        #visa, #american, #mastercard, #paypal {
            height: 30px;
            width: 30px;
            margin-top: 10px;
        }
    #Copyright{
        width: 140px;
        height: 80px;

     
}
}
    /* fin media 600 a 1023 px*/
    
    @media all and (max-width:599px){
    
        header, section, footer {
            width: 90%;
        }
        header{
            height: auto;
        }
        #marca, #botonera, #Copyright, #datos, #medios_de_pago { 
            width: 100%;
            height: auto;
            float: none;        
        }
        h1 {
            font-size: 39px;
        }    
        #botonera ul li{
            display: block;
            font-size: 30px;
        } 
        #botonera ul li a {
            
            width: 100%;
            padding:20px 0;
            text-align: center;
        }
        #historia{
            height: auto;
        }

        #Merchandising {
            height: auto;
            margin-bottom: 5px;
        }
        #Merchandising a
        {
        line-height: 50px;
}
#extremo{
    width: 100%;
    }

        #fila1_izq, #fila1_cen_izq,#fila2_izq, #fila2_cen_izq,#fila1_cen_der, #fila1_der,#fila2_cen_der, #fila2_der
        {
            height: auto; 
            width: 100%;
            margin: 1px 0;
        }
        #txt_fila1_izq, #txt_fila2_cen_der, #txt_fila1_cen_izq, #txt_fila1_cen_der, #txt_fila1_der, #txt_fila2_izq, #txt_fila2_cen_izq,#txt_fila2_der
        {  
            width: 60%;
            height: auto;
            margin-left:20%;
            margin-top: 180px;
            font-size: 30px;
            padding:0;
        }
        #txt_fila2_cen_der{
            width: 80%;

            margin-left:10%;
            margin-top: 180px;
            font-size: 30px;
            padding:0;
         
        }
    
        #fila3_izq, #fila3_cen, #fila3_der{
            width: 100%;
            height: auto;
            font-size: 25px; 
            margin: 1px 0;
            padding-top: 1px;
        }     
        #fila4_izq, #fila4_cen, #fila4_der{
            width: 100%;
            height: auto; 
            margin: 1px 0;
            padding: 0;
            font-size: 25px; 
        }
 
#fila4_cen ul a {
    margin-top: 0;
    height: auto;
}

 #fila4_cen, ul li a {
height: auto;
}
#fila4_der, {
padding-top: 5%;
}

footer{
    height:auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1px;
}
        
#datos{
    height: auto;
    margin-top: 5px;
    width: 100%;
    padding-top: 7%;
} 


#redes {
    width: 75%;
    height: auto;
    padding-top: 0;
    margin-left: 12%;
    margin-bottom: 5%;
    float: none;
}

#facebook, #instagram, #twitter, #youtube {
	height: 20px ;
    width: 20px ;
   
    
}

#medios_de_pago {
    height: auto;
    margin-top: 5px;
    width: 100%;
    padding-top: 7%;
    margin-left: 0%;
}
 #visa, #american, #mastercard, #paypal {
        height: 20px;
        width: 20px;

}
    
#Copyright{
    margin-top: 5px;
    width: 100%;
    padding-top:5%;
    padding-bottom: 5%;
    height: auto;
       float: none;  
    }/* fin media -599 px*/
    }
    
   